@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" type="text/css" href="/css/site.css" />
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/site.js" type="text/javascript"></script>



<div class="container mt-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-10">


            <form method="post" action="/Home/ProcesarFormulario" y id="regForm">
                @Html.AntiForgeryToken()

                <label class="custom-control material-checkbox">
                    <input type="checkbox" class="material-control-input" id="consultaAsesoramiento">
                    <span class="material-control-indicator"></span>
                    <span class="material-control-description">Consulta de asesoramiento</span>
                </label>

                <h1 id="register">Centro Nacional de Control de Intoxicaciones</h1>
                <h5 id="register">Formulario de Registro de Consultas Toxicológicas</h5>
                <div class="all-steps" id="all-steps">
                    <div class="form-row">
                        <div class="col-md-1 all-cen" onclick="selectedItem(0)" id="step1">
                            
                        </div>
                        <div class="col-md-2 all-cen" onclick="selectedItem(0)" id="step1">
                            <label class="custom-control">
                                <span class="step"><i class="fa fa-user"></i></span>
                                <span class="material-control-indicator"></span>
                                <a>Datos generales y exposición</a>
                            </label>
                        </div>
                        <div class="col-md-2 all-cen" onclick="selectedItem(1)" id="step2">
                            <label class="custom-control">
                                <span class="step"><i class="fa fa-list"></i></span>
                                <span class="material-control-indicator"></span>
                                <a>Signos y síntomas</a>
                            </label>
                        </div>
                        <div class="col-md-2 all-cen" onclick="selectedItem(2)" id="step3">
                            <label class="custom-control">
                                <span class="step"><i class="fa fa-thermometer-three-quarters"></i></span>
                                <span class="material-control-indicator"></span>
                                <a>Causas y rutas</a>
                            </label>
                        </div>
                        <div class="col-md-2 all-cen" onclick="selectedItem(3)" id="step4">
                            <label class="custom-control">
                                <span class="step"><i class="fa fa-ambulance"></i></span>
                                <span class="material-control-indicator"></span>
                                <a>Tratamiento y comentarios</a>
                            </label>
                        </div>

                        <div class="col-md-2 all-cen" onclick="selectedItem(4)" id="step5">
                            <label class="custom-control">
                                <span class="step"><i class="fa fa-question"></i></span>
                                <span class="material-control-indicator"></span>
                                <a>Consulta de asesoramiento</a>
                            </label>
                        </div>

                        <div class="col-md-2 all-cen" onclick="selectedItem(5)" id="step6" >
                            <label class="custom-control">
                                <span class="step"><i class="fa fa-list-alt"></i></span>
                                <span class="material-control-indicator"></span>
                                <a>Resumen</a>
                            </label>
                        </div>
                    </div>
                </div>



                <div class="tab" id="stepC1">
                    <div class="card">
                        <div class="card-header" style="color: #4682B4">DATOS GENERALES</div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <h6 for="text" class="col-form-label">Tipo de consulta:</h6>
                                    <select class="form-control form-control-sm" placeholder="Seleccione el tipo de consulta" id="tipoConsulta">
                                      
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <h6 for="text" class="col-form-label">Fecha y hora de consulta:</h6>
                                    <input type="datetime-local" class="form-control-sm" id="fechaConsulta" readonly>
                                </div>
                                <div class="form-group col-md-4">
                                    <h6 for="text" class="col-form-label">Exp:</h6>
                                    <input type="text" class="form-control-sm" placeholder="Ingrese el número de expediente" id="exp">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <h6 for="text" class="col-form-label">Solicitante:</h6>
                                    <input type="text" class="form-control-sm" placeholder="Ingrese el nombre del solicitante" id="solicitante">
                                </div>
                            </div>

                            <br>

                            <div class="form-row" id="boxPaciente">
                                <div class="form-group col-md-12">

                                    <div class="form-row">

                                        <div class="form-group col-md-2">
                                            <h6 for="text" class="col-form-label" style="color: #4682B4">PACIENTE</h6>
                                        </div>
                                        <div class="form-group col-md-10">
                                            <hr>
                                        </div>


                                        <div class="form-group col-md-3">
                                            <h6 for="text" class="col-form-label">N° Identificación:</h6>
                                            <input type="text" class="form-control-sm" placeholder="Ingrese el número de identificacion" id="identificacion">
                                        </div>

                                        <div class="form-group col-md-6">
                                            <h6 for="text" class="col-form-label">Nombre:</h6>
                                            <input type="text" class="form-control-sm" placeholder="" id="nombre">
                                        </div>

                                        <div class="form-group col-md-1">
                                            <h6 for="text" class="col-form-label">Edad:</h6>
                                            <input type="number" class="form-control-sm" placeholder="" id="edad">
                                        </div>

                                        <div class="form-group col-md-1">
                                            <h6 for="text" class="col-form-label">Sexo:</h6>
                                            <select class="form-control form-control-sm" id="sexo">
                                            </select>
                                        </div>

                                        <div class="form-group col-md-1">
                                            <h6 for="text" class="col-form-label">Peso:</h6>
                                            <input type="number" step="0.01" class="form-control-sm" placeholder="" id="peso">
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <h6 for="text" class="col-form-label">Provincia:</h6>
                                    <select class="form-control form-control-sm" placeholder="Seleccione la provincia" id="provincia">
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <h6 for="text" class="col-form-label">Cantón:</h6>
                                    <select class="form-control form-control-sm" placeholder="Seleccione el canton" id="canton">
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <h6 for="text" class="col-form-label">Otras señas:</h6>
                                    <input type="text" class="form-control-sm" placeholder="Ingrese otras señas" id="otrasSeñas">
                                </div>
                                <div class="form-group col-md-4">
                                    <h6 for="text" class="col-form-label">N° Teléfono:</h6>
                                    <input type="number" class="form-control-sm" placeholder="Ingrese un número" id="telefono">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="embarazo">
                                        <label class="custom-control-label" for="embarazo">Embarazo</label>
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="lactancia">
                                        <label class="custom-control-label" for="lactancia">Lactancia</label>
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="fallecimiento">
                                        <label class="custom-control-label" for="fallecimiento">Falleció</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-3" style="display:none" id="datosEmbarazo">
                                    <h6 for="text" class="col-form-label">N° de semanas de embarazo:</h6>
                                    <input type="number" class="form-control-sm" placeholder="Ingrese el número de semanas" id="numS">
                                </div>

                                <div class="form-group col-md-9">
                                    <h6 for="text" class="col-form-label">Entidad:</h6>
                                    <select id="entidad" name="entidad" class="form-control" required="required"></select>

                                </div>
                                <div class="form-group col-md-6">
                                </div>

                            </div>


                            <div class="form-row">

                                <div class="form-group col-md-2">
                                    <h6 for="text" class="col-form-label" style="color: #4682B4">EXPOSICIÓN</h6>
                                </div>
                                <div class="form-group col-md-10">
                                    <hr>
                                </div>

                                <div class="form-group col-md-3">
                                    <h6 for="text" class="col-form-label">Fecha y hora:</h6>
                                    <input type="datetime-local" class="form-control-sm" id="fechaExpo">
                                </div>

                             
                                <div class="form-group col-md-2">
                                    <h6 for="text" class="col-form-label">Código Tox:</h6>
                                    <select class="form-control form-control-sm" placeholder="Seleccione el canton" id="codtox">
                                    </select>
                                </div>
                                   <div class="form-group col-md-3">
                                    <h6 for="text" class="col-form-label">Tóxico:</h6>
                                    <select class="form-control form-control-sm" placeholder="Seleccione el canton" id="gen">
                                    </select>
                                </div>

                                <div class="form-group col-md-3">
                                    <h6 for="text" class="col-form-label">Cantidad:</h6>
                                    <input type="number" step="0.01" class="form-control-sm" placeholder="" id="cant">
                                </div>

                                <div class="form-group col-md-2">
                                    <h6 for="text" class="col-form-label">Patente:</h6>
                                    <select class="form-control form-control-sm" placeholder="Seleccione el canton" id="patente">
                              
                                    </select>
                                </div>

                                <div class="form-group col-md-7">
                                </div>

                                <div class="form-group col-md-5">
                                </div>

                                <div class="form-group col-md-2">
                                    <button type="button" id="prevGuardar" class="btn-sm" onclick="addToxico()">Agregar</button>
                                </div>
                                <div class="form-group col-md-5">
                                </div>




                                <div class="form-group col-md-12">
                                    <div id="divTabla">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Tóxico</th>
                                                    <th>Código tox</th>
                                                    <th>Clasificación</th>
                                                    <th>Cantidad</th>
                                                    <th>Patente</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="tab" id="stepC2">
                    <div class="card">
                        <div class="card-header" style="color: #4682B4">SIGNOS Y SÍNTOMAS</div>

                        <div class="card-body">



                            <div class="form-row">

                                <div class="form-group col-md-2">
                                    <h6 for="text" class="col-form-label" style="color: #4682B4">SÍNTOMAS</h6>
                                </div>
                                <div class="form-group col-md-10">
                                    <hr>
                                </div>
                          
                                    
                <div class="form-group col-md-3">
                <ul class="list-group list-group-flush">
                <li class="list-group-control">
                                            @{
                                                int num = 0;

                                                foreach (var sintoma in ViewBag.ListaSintoma)
                                                {


                                                    if (num == 15)
                                                    {
                                                        @:</li>
                                                        @:</ul>
                                                        @:</div>
                                                        @:  <div class="form-group col-md-3">
                                                        @:<ul class="list-group list-group-flush">
                                                        @:<li class="list-group-control">
                                                        @:<label class="custom-control material-checkbox">
                                                        @:<input type="checkbox" class="material-control-input checkbox-elemento" data-elemento="@sintoma.DescripcionSintoma" id="@sintoma.DescripcionSintoma">
                                                        @:<span class="material-control-indicator"></span>
                                                        @:<span class="material-control-description">@sintoma.DescripcionSintoma</span>
                                                        @:</label>
                                                        num = 0;

                                                        if (sintoma.Subcategoria !=  '0'.ToString())

                                                        {
                                                            string[] elementos = sintoma.Subcategoria.Split(',');
                                                            @:<div class="form-control-sm info-input"  data-elemento="@sintoma.DescripcionSintoma" style="display: none; height: 30px;">
                                                            @:   <input type="text" class="info" placeholder=@elementos[1] />
                                                            @:   </div>
                                                        }
                                                        num = 0;

                                                    }
                                                    else
                                                    {
                                                        @:<label class="custom-control material-checkbox">
                                                        @:<input type="checkbox" class="material-control-input checkbox-elemento" data-elemento="@sintoma.DescripcionSintoma" id="@sintoma.DescripcionSintoma">
                                                        @:<span class="material-control-indicator"></span>
                                                        @:<span class="material-control-description">@sintoma.DescripcionSintoma</span>
                                                        @:</label>
                                                        if (sintoma.Subcategoria != '0'.ToString())

                                                        {
                                                          string[] elementos = sintoma.Subcategoria.Split(',');
                                                            @:<div class="form-control-sm info-input " data-elemento="@sintoma.DescripcionSintoma" style="display: none; width: 150px; height: 30px;">
                                                            @:   <input type="text" class="info" placeholder=@elementos[1] />
                                                            @:   </div>
                                                        }
                                                    }
                                                    num++;
        }

        // Si el número total de elementos no es un múltiplo de 10, asegúrate de cerrar las etiquetas adecuadamente
        if (num != 0)
        {
            @:</li>
            @:</ul>
            @:</div>
        }
    }


                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <h6 for="text" class="col-form-label" style="color: #4682B4">SIGNOS</h6>
                                </div>
                                <div class="form-group col-md-10">
                                    <hr>
                                </div>

                                <div class="form-group col-md-4">
                                    <h6 for="text" class="col-form-label">Presión arterial:</h6>
                                    <input type="text" class="form-control-sm" placeholder="" id="presionArterial">
                                </div>

                                <div class="form-group col-md-4">
                                    <h6 for="text" class="col-form-label">Frecuencia cardíaca:</h6>
                                    <input type="text" class="form-control-sm" placeholder="" id="frecuenciaCardiaca">
                                </div>

                                <div class="form-group col-md-4">
                                    <h6 for="text" class="col-form-label">Temperatura:</h6>
                                    <input type="text" class="form-control-sm" placeholder="" id="temperatura">
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="instituido">
                                    <label class="custom-control-label" for="instituido">Tratamiento instituido</label>
                                </div>
                            </div>
                            <div class="form-group col-md-12" id="txtInstituido" style="display:none">
                                <input type="text" class="form-control-sm" placeholder="">
                            </div>



                        </div>
                    </div>
                </div>
                </div>
                <div class="tab" id="stepC3">
                    <div class="card">
                        <div class="card-header" style="color: #4682B4">CAUSAS Y RUTAS</div>
                        <div class="card-body">

                            <div class="form-row">

                                <div class="form-group col-md-1">
                                    <h6 for="text" class="col-form-label" style="color: #4682B4">CAUSA</h6>
                                </div>
                                <div class="form-group col-md-11">
                                    <hr>
                                </div>

                                <div class="form-row">

                                      @{
                                                   

                                                    foreach (var causa in ViewBag.ListaCausa)
                                                    {
                                                       <div class="form-group col-md-4">
                                                                                                <div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id=@causa.DescripcionCausa>
  <label class="form-check-label" for="flexRadioDefault1">
    @causa.DescripcionCausa
  </label>
                                                        @if (causa.DescripcionCausa=="Accidental"||causa.DescripcionCausa == "Alimentaria")
                                                        {
                                                    <div class="form-group col-md-4" id="@causa.DescripcionCausa-1" style="display: none;" >
                                    <p for="text" class="col-form-label">Trasvase:</p>
                                    <select class="form-control form-control-sm" placeholder="Seleccione el canton" id="@causa.DescripcionCausa-1" >
                                        <option value="1">SI</option>
                                        <option value="2">NO</option>
                                    </select>
                                </div>          
                                                        }

                                                          @if (causa.DescripcionCausa == "Error Terapéutico")
                                                {
                                               
                                <div class="form-group col-md-4" id="terapeuticosbox" style="display:none" >
                                    <p for="text" class="col-form-label">Errores terapéuticos:</p>
                                    <select class="form-control form-control-sm" placeholder="Seleccione el canton" id="errorTerapeutico">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>     
                                                }
                                                        @if (causa.DescripcionCausa == "Ocupacional")
                                                        {
                                                         <div class="form-group col-md-4" id="proteccionbox" style="display:none">
                                    <h9 for="text" class="col-form-label">Protección:</h9>
                                    <select class="form-control form-control-sm" placeholder="Seleccione el canton" id="proteccion">
                                        <option value="1">SI</option>
                                        <option value="2">NO</option>
                                    </select>
                                </div>
                                                        }

                                                    </div>
                                    </div>

                                              
    }      }
                         

                                 </div>     
  
                                 </div>     




                            <div class="form-row">

                                <div class="form-group col-md-1">
                                    <h6 for="text" class="col-form-label" style="color: #4682B4">RUTA</h6>
                                </div>
                                <div class="form-group col-md-11">
                                    <hr>
                                </div>
                                    <div class="form-group col-md-3">

                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-control">
                               @{
                                                    int num1 = 0;

                                                    foreach (var ruta in ViewBag.ListaRuta)
                                                    {
                                                    

             if (num1 == 5)
            {
                @:</li>
                @:</ul>
                @:</div>
              @: <div class="form-group col-md-3">

                                   @: <ul class="list-group list-group-flush">
                                     @:   <li class="list-group-control">
                 @:<label class="custom-control material-checkbox">
                @:<input type="checkbox" class="material-control-input" id="@ruta.DescripcionRuta">
                @:<span class="material-control-indicator"></span>
                @:<span class="material-control-description">@ruta.DescripcionRuta</span>
                @:</label>
                num1 = 0;
                
            }
            else
            {
                @:<label class="custom-control material-checkbox">
                @:<input type="checkbox" class="material-control-input" id="@ruta.DescripcionRuta">
                @:<span class="material-control-indicator"></span>
                @:<span class="material-control-description">@ruta.DescripcionRuta</span>
                @:</label>
            }
                num1++;
        }

        // Si el número total de elementos no es un múltiplo de 10, asegúrate de cerrar las etiquetas adecuadamente
        if (num1 != 0)
        {
            @:</li>
            @:</ul>
            @:</div>
        }
    }


                            </div>

                        </div>
                    </div>
                </div>

                <div class="tab" id="stepC4">
                    <div class="card">
                        <div class="card-header" style="color: #4682B4">TRATAMIENTO/COMENTARIOS</div>
                        <div class="card-body">

                            <div class="form-row">
   <div class="form-group col-md-3">

                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-control">
                               @{
                                                    int num2 = 0;

                                                    foreach (var tratamiento in ViewBag.ListaTratamiento)
                                                    {
                                   

             if (num2 == 11)
            {
                @:</li>
                @:</ul>
                @:</div>
              @: <div class="form-group col-md-3">

                                   @: <ul class="list-group list-group-flush">
                                     @:   <li class="list-group-control">
                 @:<label class="custom-control material-checkbox">
                @:<input type="checkbox" class="material-control-input checkbox-elemento"  data-elemento="@tratamiento.DescripcionTratamiento" id="@tratamiento.DescripcionTratamiento">
                @:<span class="material-control-indicator"></span>
                @:<span class="material-control-description">@tratamiento.DescripcionTratamiento</span>
                @:</label>
                if (tratamiento.InpuText)
    {
        @:<div class="form-control-sm info-input" data-elemento="@tratamiento.DescripcionTratamiento" style="display: none;">
         @:   <input type="text" class="info" placeholder="Información adicional" />
     @:   </div>
    }
                num2 = 0;
                
            }
            else
            {
                @:<label class="custom-control material-checkbox" >
                @:<input type="checkbox" class="material-control-input checkbox-elemento " id="@tratamiento.DescripcionTratamiento"  data-elemento="@tratamiento.DescripcionTratamiento">
                @:<span class="material-control-indicator"></span>
                @:<span class="material-control-description">@tratamiento.DescripcionTratamiento</span>
                @:</label>
                    if (tratamiento.InpuText)
    {
        @:<div class="info-input" data-elemento="@tratamiento.DescripcionTratamiento" style="display: none;">
         @:   <input type="text" class="info" placeholder="Información adicional" />
     @:   </div>
    }
            }
             num2++;
        }
                            
        // Si el número total de elementos no es un múltiplo de 10, asegúrate de cerrar las etiquetas adecuadamente
        if (num2 != 0)
        {
            @:</li>
            @:</ul>
            @:</div>
        }

    }
                                

                               </div>

                            <div class="form-row">

                                <div class="form-group col-md-3">
                                    <h6 for="text" class="col-form-label">Traslado:</h6>
                                    <select class="form-control form-control-sm" placeholder="Seleccione el canton" id="traslado">
                                     
                                    </select>
                                </div>

                                <div class="form-group col-md-9">
                                    <h6 for="text" class="col-form-label">Notas:</h6>
                                    <input type="text" class="form-control-sm" placeholder="" id="notas">
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
                <div class="tab" id="stepC5">
                    <div class="card">
                        <div class="card-header" style="color: #4682B4">CONSULTAS ASESORAMIENTOS</div>
                        <div class="card-body">
                            <div class="form-row">
 <div class="form-group col-md-4">
                                    <h6 for="text" class="col-form-label">Tipo de consulta:</h6>
                                    <select class="form-control form-control-sm" placeholder="Seleccione" id="tipoAsesoria">
      
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <h6 for="text" class="col-form-label">Preguntas:</h6>
                                    <select id="preguntaConsulta" name="preguntaConsulta" class="form-control" required="required"></select>
                                </div>

                                <div class="form-group col-md-12">
                                    <h6 for="text" class="col-form-label">Observaciones:</h6>
                                    <input type="text" class="form-control-sm" placeholder="" id="obsConsulta">
                                </div>

                               

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab" id="stepC6">
                    <div class="card">
                        <div class="card-header" style="color: #4682B4">RESUMEN</div>
                                         <div class="card-body">

                            
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <h6 for="text" class="col-form-label" style="color: #4682B4">DATOS GENERALES</h6>
                                </div>
                                <div class="form-group col-md-9">
                                    <hr>
                                </div>

                                <div class="form-group col-md-2">
                                    <b>Fecha y hora:</b>
                                </div>
                                <div class="form-group col-md-10">
                                    <a id="fechaR"></a>
                                </div>
                                <div class="form-group col-md-2">
                                    <a>Exp:</a>
                                </div>
                                <div class="form-group col-md-10">
                                    <a id="expR"></a>
                                </div>

                                <div class="form-group col-md-2">
                                    <a>Solicitante:</a>
                                </div>
                                <div class="form-group col-md-10">
                                    <a id="soliR"></a>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <h6 for="text" class="col-form-label" style="color: #4682B4">PACIENTE</h6>
                                </div>
                                <div class="form-group col-md-10">
                                    <hr>
                                </div>
                          
                             
                         
                                </div>
                                   <div class="row">
                                <div class="form-group col-md-20">
                                    <b style="margin-left: 20px;" >N° Identificacion:</b>
                                       <a id="identificacionR"></a>
                                         <b style="margin-left: 20px;">Nombre:</b>
                                      <a id="nombreR"></a>
                                        <b style="margin-left: 20px;"> Edad:</b>
                                            <a id="edadR"></a>
                                               <b style="margin-left: 20px;">Peso:</b>
                                                  <a id="pesoR"></a>
                                                    <b style="margin-left: 20px;">Sexo:</b>

                                                     <a id="sexoR"></a>
                                </div>
                          
                                 
                                </div>
                                     <div class="row">
                                <div class="form-group col-md-20">
                                    <b style="margin-left: 20px;">Provincia</b>
                                      <a id="provinciaR"></a>
                                    <b style="margin-left: 20px;">Cantón:</b>
                                            <a id="cantonR"></a>
                                             
                                    <b style="margin-left: 20px;">Otras señas</b>
                                      <a id="OtrasSeñasR"></a>
                                    <b style="margin-left: 20px;">N° Teléfono:</b>
                                            <a id="telefonoR"></a>
                             
                                </div>
                                         <div class="row">
                                <div class="form-group col-md-20">
                                    <b style="margin-left: 20px; " id="Embarazo">Embarazo</b>
                                      <a id="EmbarazoR"></a>
                                    <b style="margin-left: 20px; display:none;" id="numEmbarazoText">Numero de semanas</b>
                                            <a id="numeroEmbarazoR"></a>
                                             
                                    <b style="margin-left: 20px; display:none;" id="LactanciaTextText">Lactancia:</b>
                                      <a id="lactanciaR"></a>
                                    <b style="margin-left: 20px;  display:none;" id="fallecioText">Falleció:</b>
                                            <a id="fallecioR"></a>
                             
                                </div>
                          </div>

                            </div>
                         </div>
                            </div>
                               </div>

                <div style="overflow:auto; visibility:hidden;" id="nextprevious">
                    <div style="float:right;">
                        <br>
                        <button type="button" id="prevBtn" onclick="nextPrev(-1)"><i class="fa fa-angle-double-left"></i></button>
                        <button type="button" id="nextBtn" onclick="nextPrev(1)"><i class="fa fa-angle-double-right"></i></button>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>

<br>
